* {
    box-sizing: border-box;
}
body{
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}


/* Styles associated with NAV */
nav {
    z-index: 2;
    position: relative;
}

nav > ul {
    list-style-type: none;
    border:0;
    padding-top: 30px;

}

.order-6 {
    order: 6;
}

.main-header h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    padding-bottom: 30px;
}
.main-header h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
}

@media (min-width: 576px) {

    .ml-auto-sm {
        margin-left: auto;
    }

    .order-6 {
        width: 100%;
    }

}

@media (min-width: 770px ) {
    .order-6 {
        width: auto;
    }

}


/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .ml-auto-md {
        margin-left: auto;
    }

    .order-6 {
        width: 100%;
    }

}



/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .ml-auto-md {
        margin-left: auto;
    }

    .order-6 {
        width: auto;
    }

}


@media (min-width: 992px) {
    .ml-auto-lg {
        margin-left: auto;

    }

    .order-6 {
        width: auto;
    }

}



@media (min-width: 1200px) {
    .order-6 {
        width: auto;
    }
}


.bg-container {
    border-top: 55px solid #f0f0f0;
    background-color: #ffffff;
    height: 125px;
    width: 100%;
    margin:0;
    padding:0;
    text-align: center;
    z-index: 1;
    position: absolute;
    opacity: 1;

}

.logo {
    height: 105px;
    width: 105px;
}

.logo-text {
    font-family: 'Abel', sans-serif;
    font-size: 50px;
    text-align: center;
    display: block;
    font-weight: bold;
}

.sub-header {
    background: #f0f0f0;
}
.circles {
}

#circle1 {
    border: solid white 10px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color:  #e6563b;
    color: white;
    align-items: center;
    font-weight: bold;
}
#circle2 {
    border: solid white 10px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #dea03d;
    color: white;
    align-items: center;
    font-weight: bold;
}
#circle3 {
    border: solid white 10px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #7cb06c;
    color: white;
    align-items: center;
    font-weight: bold;
}
#circle4 {
    border: solid white 10px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #00aba9;
    color: white;
    align-items: center;
    font-weight: bold;
}
.icon-centering{
    text-align: center;
}
#icon1 {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color:  #e6563b;
    align-items: center;
    font-weight: bold;
    margin-right: 8px;
}
#icon2 {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: #dea03d;
    align-items: center;
    font-weight: bold;
    margin-right: 8px;
}
#icon3 {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: #7cb06c;
    align-items: center;
    font-weight: bold;
    margin-right: 8px;
}
#icon4 {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color:#00aba9;
    align-items: center;
    font-weight: bold;
    margin-right: 8px;
}
#selected-work {
    text-align: center;
    font-family: abel-regular, Sans-serif;
    margin-bottom: 2.5em;
    margin-top: 7em;
}
.project-image {
    border: solid lightgrey 10px;
   margin: auto;
    border-radius: 1%;
}

.font-style, a, h6{
    font-family: abel-regular, Sans-serif;
    text-decoration: none;
    color: black;
}

.font-style2 {
    font-family: anton-regular, Sans-serif;

}

#featured-project {
    font-family: abel-regular, Sans-serif;
}

.main-content {
    margin: 0 2em 1em 2em;
}
